body{
  font-family: 'Lato';

}

nav .a{
	color: white;
	font-size: 60px;
	font-weight: 500;
	display: block;
	text-decoration: none;
}
nav .a:hover{
	color: #000;
	transition: 0.5s;
}
header{
    background-color: #3b85da;
    text-align: center;
    position: center;
    top: 0;
    left: 0;
    right: 0;
    background: #3b85da;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    height: 210px;
}
img{
    margin-top: 50px;
    width: 700px;
    height: 500px;
}
h1{
  font-size: 80px;
  text-align: center;
}



/*расположение кнопок классов*/
.k11{
    margin: -180px 490px;
}

.k10{
  margin: 60px 160px;
}
.k8{
    margin: -320px 310px;
}
.k9{
    margin: 200px 640px;
}
.k7{
    margin: 200px -10;
}
.k6{
    margin: 50px 640px;
}
.k5{
    margin: -170px 310px;
}
.k4{
    margin: -170px -10;
}
.k3{
    margin: 200px -10;
}
.k2 {
    margin: -320px 310px;
}
.k1 {
    margin: 200px 640px;
}
/*расположение кнопок классов закончилось*/

/*стиль кнопок*/


#drop-down:hover #dropdown-menu {
    display: block;
}

#drop {
    width: 300px;
    height: 90px;
    background: #6da3e2;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 3px solid #fff6f6;
    transition: all .10s ease-in-out;
    border-radius: 15px;
}

#drop:active{
    box-shadow: inset 0 -80px 0 rgb(39, 38, 38), 2px 2px 3px white;
    color: #ce4646;
}

#drop-down {
    position: relative;
    display: inline-block;
}

#dropdown-menu {
    display: none;
    position: absolute;
    display: none;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #6da3e2;
    text-align: center;
    padding: 10px;
    color: white;   font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #fff6f6;
    transition: all .35s;
    width: 160px;
    margin-left: 25px;
    border-radius: 5px;
    z-index: 1;
    transition: all .20s;
    border-radius: 15px;
}
  
#dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
    transition: all .10s;
}


.icon{
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #ce4646;
  transition: all .35s;
}

#dropdown-menu a:active{
  width: 160px;
  border: 3px solid #ce4646;
  background: rgb(39, 38, 38);
  color: #ce4646;
}

#dropdown-menu a:active + .icon{
  border: 3px solid #ce4646;
  right: -25%;
}
.gfg {
    font-size: 40px;
    font-weight: bold;
    color: #009900;
    Text-align: center;
}

/*стили кнопки обновления*/
footer{
    margin-top: 750px;
}
.open-button {
  background-color: #3b85da;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  bottom: 23px;
  right: 28px;
  width: 100%;
}
.open-button:hover{
  background: white;
  color: black;
}

.form-popup {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;

}

.form-container {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 700px;
  height: auto;
  padding: 10px;
  border: none;
  background: rgb(39, 38, 38);
}

.form-container input[type=number], .form-container input[type=password] {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;

}

.form-container input[type=number]:focus, .form-container input[type=password]:focus {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  outline: none;
}

.form-container .btn {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color: #3b85da;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 35px;
  font-weight: bold;

}

.form-container .cancel {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color:   #ce4646;
  color: white;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;

}


