.zag{
  font-size: 70px;
  text-align: center;
  background-color: #3b85da;
  color: white;
  margin-top: 40px;
  font-weight: 400;
}


.footer{
    border-radius: 20px;
    background-color: #3b85da;
    height: 25%;
    font-size: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
 }
footer a:hover{
    background-color: white;
	color: black;
	transition: 0.5s;
}

footer .a-footer{
	color: white;
	font-size: 70px;
	font-weight: 500;
	display: block;
	text-decoration: none;
}